@import "tailwindcss";

@theme {
    --color-brand-50: #fef2f2;
    --color-brand-100: #fee2e2;
    --color-brand-500: #ef4444;
    --color-brand-600: #dc2626;
    --color-brand-900: #7f1d1d;
    --color-dark-900: #0f172a;
    --color-dark-800: #1e293b;
    --font-family-sans: Inter, system-ui, sans-serif;
}